cheer-meter {
  display: flex;
  flex-direction: column;
  padding: 0px 16px 16px 16px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 16px;
  background: var(--white);
}

cheer-meter livelike-option {
  width: 47%;
  justify-content: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

cheer-meter livelike-select.image-grid {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 14px;
  flex-direction: row;
}

cheer-meter livelike-option[selected],
cheer-meter livelike-option {
  padding: unset;
  background: transparent;
}

cheer-meter livelike-option .cheer-image-container {
  height: 96px;
}

cheer-meter livelike-option[selected] {
  border: 2px solid var(--white);
}

.cheer-image-container {
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

cheer-option {
  width: 100%;
  user-select: none;
}

.image-grid livelike-option:nth-child(2) {
  margin-left: 0;
}

cheer-meter livelike-description {
  color: #02235c;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 21.47px; /* 153.356% */
  text-align: center;
}

vote-count {
  font-size: 17px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  padding: 10px 9px;
  top: 38%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  min-width: 42px;
  background: #005bff;
}

cheer-meter livelike-widget-body {
  background: none;
}

cheer-meter livelike-select {
  padding: 0px;
}

cheer-meter livelike-image img {
  width: 72px;
  height: 72px;
}

cheer-meter livelike-widget-root {
  width: 100%;
}

cheer-meter .expire-text {
  margin-top: 16px;
  color: #02235c;
  font-family: "Bai Jamjuree";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
}

cheer-meter livelike-title {
  color: #02235c;
  font-family: "Bai Jamjuree";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  padding: 0px 16px 16px 0px;
  width: 93%;
  background: #fff;
}
