sa-circular-predictor {
  background: #fff;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.title-container {
  color: #02235c;
  font-family: "Bai Jamjuree";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.widget-footer {
  width: 100%;
  color: #02235c;
  font-family: "Bai Jamjuree";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
}

.predictor-footer-buton {
  display: flex;
  height: 45px;
  padding: 12px 24px;
  justify-content: center;
  font-family: "Bai Jamjuree";
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 30px;
  width: 100%;
  border: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  text-align: center;
  background: linear-gradient(92deg, #225696 1.91%, #0d8efe 98.01%);
}

.predictor-footer-buton.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
