:root {
  --brand-primary: #000D4C;
  --alt-bg-color: #6423E1;
  --brand-secondary: #FFE100;
  --brand-secondary-light: #92a3fb;
  --brand-background: #040404;
  --brand-secondary-background: #151515;
  --brand-ternary-background: #111;
  --brand-text: #ffff;
  --brand-secondary-text: #7a7b7c;
  --brand-ternary-text: #b6b6b6;
  --brand-error: #e6052e;
  --brand-disabled: #bbbaba;
  --brand-disabled-text: #777;
  --brand-quaternary-background: #000;
  --brand-incorrect: #d41042;
  --brand-navigation: #232323;
  --brand-dropdown: #151515;
  --brand-border: #666;
  --brand-dropdown-hover: #3f3f3f;
  --brand-shadow: #ffffff4d;
  --brand-tabs-color: #0000004d;
  --brand-green: #bdff69;
  --brand-button: var(--alt-bg-color);
  --brand-grey: #808080;
  --brand-game-center-text: #1a2235;
  --brand-tabs-background-color: #0E0E0E;
  --brand-tabs-border-bottom-color: #242424;
  --white: #FFF;
  --brand-widget-button: #DC314E;
  --brand-widget-button-disabled: #3C3C3C;
  --brand-chat-input-background: #202020;
  --brand-chat-palette-border: #363636;
  --brand-chat-delete-modal-option-background: #1E1E1E;
  --brand-chat-delete-modal-background: #181818;
  --brand-leaderboard-self-box-border: #1B1B1B;
  --brand-welcome-page-button-color: #DC314E;
  --brand-header-background: #0E0E0E;
  --black: #000;
}
