@import url(colors.css);

:root {
  font-family: "Bai Jamjuree";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--brand-text);
  background-color: var(--brand-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/images/app-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  scrollbar-width: none;

  --primary-font: "Bai Jamjuree";
  --secondary-font: "Bai Jamjuree";
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  overflow-y: auto;
  height: calc(var(--vh, 1vh) * 100);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100dvh;
  /* overflow-y: auto; */
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: black;
}

@media screen and (min-width: 600px) {
  html,
  body {
    height: 100vh;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--brand-text);
    background-color: var(--brand-header-background);
  }
}

/**
TODO: Move below CSS into individual component styles.css
*/

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(32, 32, 32, 0.3);
  border-radius: 68px;
}

lg-game-center {
  height: 100dvh;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 0px 8px 0px var(--brand-shadow);
  -webkit-tap-highlight-color: transparent;
  background: var(--brand-tabs-background-color);
}

lg-tabs {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.game-center {
  display: flex;
  height: 100dvh;
  flex-direction: column;
  min-width: 320px;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  background: var(--brand-tabs-background-color);
  gap: 10px;
  overflow-y: scroll;
}
.element::-webkit-scrollbar {
  display: none;
}

.lg-tab-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100dvh - 48px);
  width: 100%;
}

.lg-tab-container ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
}

.lg-tab-container ul li {
  flex: 1;
  color: var(--brand-tabs-color);
  border: 0.5px solid var(--brand-text);
  background: var(--brand-secondary-light);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 45px;
  font-family: var(--secondary-font);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}

lg-game-center .game-center lg-match .lg-match-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 8px;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
livelike-widgets,
lg-leaderboard {
  opacity: 0;
  animation: fadeInAnimation 2s ease-in-out forwards;
}
