.ui-loader-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background: var(--brand-tabs-background-color);
}

.ui-loader-spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui-loader-label {
  color: var(--brand-text);
  font-family: "Bai Jamjuree";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}

ui-loader {
  height: 100%;
}
