.error-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.error-retry-button {
  color: #fff;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: var(--brand-widget-button);
  outline: none;
  border: none;
  border-radius: 4px;
  font-family: var(--secondary-font);
  display: flex;
  padding: 12px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: calc(100% - 60px);
}

.error-retry-button:focus {
  outline: none;
}

.error-label {
  font-family: "Bai Jamjuree";
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  max-width: 300px;
}

lg-error {
  height: 100%;
}
