.ui-loader-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background: var(--brand-tabs-background-color);
}

.ui-loader-main {
  height: 200px;
  width: 200px;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

ll-loader {
  width: 100%;
  height: 100%;
}
